.detailTable {
  font-size: 0.8em;
overflow: auto;
}

.table-coltitle {
  background-color: lightgray;
}
@media only screen and (max-width: 1024px) {
  .detailTable {
    height: 100%;
    width: 100%;
  }
}
