.Modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
}

.Modal__container {
  position: relative;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 1rem;
  width: 90%;
  height: 95%;
  overflow-y: auto;
}

.Modal__close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
  background-color: #f5f5f5;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 10;
}

@media only screen and (max-width: 1024px) {
  .Modal__container {
    overflow: scroll;
  }
}
@media only screen and (max-height: 600px) {
  .Modal__container {
    overflow: scroll;
  }
}
