.TablaItem {
  border-bottom: 1px solid lightgray;
  padding: 0.5em;
  display: grid;
  grid-template-columns: 3fr 1fr;
  height:4em;
}
.TablaItem-title {
  text-align: center;
  line-height: 0.5em;
}
.TablaItem-title__title {
  font-weight: bold;
}
.TablaItem-button {
  padding: 0.4em;
  font-size: 0.8em;
  height: 3em;
  width: 100%;
}
@media only screen and (max-width: 1024px) {
    .TablaItem-title {
        line-height: 0.8em;
      }

}