.Tabla{
    
    border-radius:10px;
    width:100%;
    margin: 0 1em;
}
.Tabla-header{
    background-color: #F44336;
    color: white;
}

@media only screen and (max-width: 600px) {
    .Tabla{

        margin: 1em;
    }

}