.Tabla{
    max-height: 90vh ;
    border-radius:10px;
    width:100%;
    margin: 0 1em;

}
.Tabla-header{
    background-color: #F44336;
    color: white;
    /* font-weight: bold; */
    font-size:1.5em
}
.Tabla-filter > input{
    border:0;
    border-bottom: 1px solid lightgray;
}

@media only screen and (max-width: 1024px) {
    .Tabla{

        margin: 1em;
    }

}