.Dashboard {
  height: 100%;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.Dashboard-tables {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
  .Dashboard-tables {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
