.loteDetail {
  height: 100%;
  /* display: flex; */
  /* flex-direction: column; */
}

.loteDetail-detailTable {
  height: 15%;
}
.loteDetail-data {
  height: 75%;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.loteDetail-data__table {
  height: 100%;
  overflow-y: auto;
}
.loteDetail-data__stadistics {
  height: 80%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.loteDetail-data__stadistics-table {
  height: 50%;
  overflow-y: auto;
}
.loteDetail-data__thead {
  background-color: lightgray;
}
.loteDetail-data__stadistics-chart {
  width: 100%;
  height: 50%;
}
.loteDetail--options {
  height: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.8em;
}
@media only screen and (max-width: 1024px) {
  .loteDetail-detailTable {
    height: 20%;
  }
  .loteDetail-data {
    height: inherit;
    display: flex;
    flex-direction: column;
  }
  .loteDetail-data__table {
    height: 100%;
    overflow: scroll;
  }
  .loteDetail-data__stadistics {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
  .loteDetail-data__stadistics-table {
    height: 50%;
    overflow: auto;
  }
  .loteDetail-data__stadistics-chart {
    width: 100%;
    height: 50%;
  }
  .loteDetail--options {
    height: 50%;
    display: flex;
    flex-direction: column;
  }
  .loteDetail--options > * {
    margin: 0.5em 0;
  }
}
