.regDetail {
  height: 100%;
}
.regDetail-detailTable{
    height:15%;
}
.regDetail-content {
  height: 85%;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.regDetail-content__table{
  height: 100%;
    overflow-y: auto;
}
.regDetail-content__detail{
  display:grid;
  grid-template-rows: 1fr 1fr;
}
.regDetail-options {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
}
@media only screen and (max-width: 1024px) {
  .regDetail-content {
    display: flex;
    flex-direction: column;
  }
  .regDetail-optiones > * {
    margin: 0.5em 0;
  }
}
