.ResDetail {
  display: flex;
  flex-direction: column;
}

.resDetail-data {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.resDetail-data__table {
  max-height: 50vh;
}
.resDetail-data2 {
  /* max-height: 50vh; */
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 100%;
}
.resDetail-data2__grafica{
 width:100%; 
}
.resDetail-data2__info {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.resDetail-data2__info-registros{
  padding:.5em;
  overflow: hidden
}
.resDetail-data2__info-options {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
}
.resDetail-data2__info-options> button {
  margin: 1em 0;
}
@media only screen and (max-width: 1024px) {
  .resDetail-data__table {
    overflow: scroll
  }
  .resDetail-data {
    display: flex;
    flex-direction: column;
  }
  .resDetail-data2{
    display: flex;
    flex-direction: column;
  }
  .resDetail-data2__info{
    display: flex;
    flex-direction: column;
  }
}
